<div class="flex flex-col my-3 space-y-2">
  <label
    for="name"
    class="text-gray-600 tracking-wide font-Poppins font-semibold"
    >Name</label
  >
  <input
    type="text"
    name="name"
    id="name"
    value="<%= author.name %>"
    class="
      px-3
      py-2
      border border-yellow-400
      w-full
      rounded
      focus:outline-none focus:ring-2
      ring-yellow-500
    "
  />
</div>
